{% extends "base.html" %}


{% block content %}


<h2>
Checkout
</h2>


<form method="POST">

{% csrf_token %}


{{ form.as_p }}


<button class="btn btn-success">

Place Order

</button>


</form>

<hr>

<h4>

Coupon

</h4>

<form
method="POST"
action="{% url 'apply_coupon' %}"
>

{% csrf_token %}

<input
type="text"
name="code"
placeholder="Coupon Code"
>

<button
class="btn btn-primary"
>

Apply

</button>

</form>

<hr>

<p>

Subtotal:

${{ cart.get_total_price }}

</p>

{% if coupon %}

<p>

Discount:

{{ coupon.discount }}%

</p>

<p>

Subtotal:

${{ cart.get_total_price }}

</p>

{% if coupon %}

<p>

Coupon:

{{ coupon.code }}

</p>

<p>

Discount:

{{ coupon.discount }}%

</p>

<p>

Discount Amount:

${{ discount }}

</p>

<p>

<strong>

Final Total:

${{ final_price }}

</strong>

</p>

{% endif %}

{% endif %}

{% endblock %}