{% extends "base.html" %}

{% block content %}

<h2>My Orders</h2>

{% for order in orders %}

<div class="card mb-4">

<div class="card-header">

Order #{{ order.id }}

<p>

Status:

{% if order.status == "pending" %}

<span class="badge bg-warning text-dark">

Pending

</span>

{% elif order.status == "paid" %}

<span class="badge bg-primary">

Paid

</span>

{% elif order.status == "processing" %}

<span class="badge bg-info text-dark">

Processing

</span>

{% elif order.status == "shipped" %}

<span class="badge bg-secondary">

Shipped

</span>

{% elif order.status == "delivered" %}

<span class="badge bg-success">

Delivered

</span>

{% elif order.status == "cancelled" %}

<span class="badge bg-danger">

Cancelled

</span>

{% endif %}

{% if order.transaction_id %}

<p>

Transaction:

{{ order.transaction_id }}

</p>

{% endif %}

</p>

<br>

{{ order.created_at }}

</div>

<div class="card-body">

<table class="table">

<tr>

<th>Product</th>

<th>Price</th>

<th>Qty</th>

<th>Total</th>

</tr>

{% for item in order.items.all %}

<tr>

<td>{{ item.product.name }}</td>

<td>${{ item.price }}</td>

<td>{{ item.quantity }}</td>

<td>${{ item.total_price }}</td>

</tr>

{% endfor %}

</table>

<h5 class="text-end">

Subtotal: ${{ order.subtotal }}

<br>

Discount: ${{ order.discount_amount }}

<br>

<strong>

Final Total:

${{ order.final_price }}

</strong>

</h5>

</div>

</div>

{% empty %}

<p>No orders found.</p>

{% endfor %}

{% endblock %}